/* -----Reset code------ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
/* body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
} */

/* Reset Type */
ul {
  list-style-type: none;
}

/* reset underline */
a {
  text-decoration: none;
}

/* set up the body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -----custom property----- */
:root {
  /*----background-color---  */
  --bg-primary-clr: #070a29;
  --bg-secondary-clr: #c9f31d;
  --bg-card-clr: #ffffff0d;
  /* ----button bg color----- */
  --bg-btn-primary-clr: #b392ff;
  --bg-btn-secondary-clr: #703ffe;
  /*----text-color---  */
  --text-primary-clr: #ffffff;
  --text-secondary-clr: #141aca;
  --text-hightlight-clr: #c9f31d;
  --devolper-text-clr: #b392ff;

  /*----fonts---  */
  --primary-font: "Zen Dots", cursive;
  --secondary-font: "Readex Pro", sans-serif;
  --seconday-fw-300: 300;
  --seconday-fw-400: 400;
  --seconday-fw-500: 500;
  --seconday-fw-600: 600;
  --seconday-fw-700: 700;
}

body {
  color: var(--text-primary-clr);
  background-color: var(--bg-primary-clr);
  font-family: "Zen Dots", cursive;
  line-height: 1.5;
}

/* ----Utility classes start----- */

/* ----common btn---- */
.common__btn {
  border: 1px solid #141634;
  border-radius: 10px;
  display: inline-block;
  padding: 12px 23px !important;
  font-family: var(--primary-font);
  /* background-color: #141634; */
  color: var(--text-primary-clr);
  background-image: linear-gradient(
    89.96deg,
    var(--bg-btn-secondary-clr) 20%,
    var(--bg-btn-primary-clr) 100%
  ) !important;
}

.nav-item:hover .common__btn {
  color: var(--text-primary-clr) !important;
  background-image: linear-gradient(
    89.96deg,
    var(--bg-btn-primary-clr) 20%,
    var(--bg-btn-secondary-clr) 100%
  ) !important;
}

/*---common heading btn type--- */
.heading__title {
  color: var(--text-secondary-clr);
  background-color: #ffffff0d;
  border: 1px solid #ffffff0d;
  font-size: 18px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
}

/* ----sub-title---- */
.about__sub__title,
.skill__sub__title,
.service__sub__title,
.project__sub__title {
  color: var(--text-primary-clr);
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.4em;
  padding: 1rem 0rem;
}

.about__sub__title span,
.service__sub__title span,
.project__sub__title span {
  color: var(--text-hightlight-clr);
}

/* ----description---- */
.about__description,
.skill__description,
.service__description,
.devoloper__description {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--secondary-font);
  line-height: 1.5em;
}
/* ----Utility classes end----- */

/* ----navigation bar start----- */
.devoloper__logo span {
  color: var(--text-hightlight-clr);
  font-size: 20px;
}

.nav-item:hover .nav-link {
  color: var(--text-secondary-clr);
}

.nav-link {
  color: var(--text-clr);
  font-size: 14px;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  transition: all 0.3s linear;
}
/* ----navigation bar end----- */

/* ----banner section start---- */
.banner__section {
  margin-top: 5rem;
}

.devoloper__name {
  letter-spacing: 1.2px;
}

.devoloper__title {
  color: #b392ff;
  margin: 1.8rem 0px;

  .devoloper__Selector {
    color: #ffd700;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 5px;
  }

  .bracket {
    color: #ffd700;
  }

  .indent__title {
    display: inline-block;
    margin-bottom: 5px;
    text-indent: 25px !important;

    & span {
      color: var(--text-hightlight-clr);
    }
  }
}

.devoloper__description {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--secondary-font);
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 1rem;
}

.common__btn:hover {
  color: var(--text-primary-clr) !important;
  background-image: linear-gradient(
    89.96deg,
    var(--bg-btn-primary-clr) 20%,
    var(--bg-btn-secondary-clr) 100%
  ) !important;
}

.banner__image img {
  /* border-top-left-radius: 50%;
  border-top-right-radius: 10px; */
  border-bottom-left-radius: 50%;
  /* border-bottom-right-radius: 10px; */
  border-radius: 20px;
  background-color: transparent;
}

.banner__image {
  position: relative;
}

.profile__card {
  width: 200px;
  display: block;
  padding: 20px 0px 10px 20px;
  border-radius: 10px;
  background-color: var(--text-primary-clr);
  position: absolute;
  bottom: -45px;
  left: -30px;
  z-index: 1;
}

.profile__img {
  display: block;
  max-width: 65px;
  border-radius: 50%;
}

.card__title {
  color: #000000;
  font-size: 12px;
  margin-bottom: 0px;
}

.social__info a {
  color: #000000;
  display: inline-block;
  padding-right: 2px;
}
/*----banner section end----*/

/*----about section start----*/
.about__section {
  margin-top: 10rem;
}

.about__poster img {
  border-radius: 10px;
}

.service__list {
  padding: 0.8rem 0rem;
}
.service__item {
  font-family: var(--secondary-font);
  padding-top: 0.5rem;
}

.service__item span {
  color: var(--text-hightlight-clr);
}

/* ----banner info box---- */
.about__info__box {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  border-radius: 20px;
  padding: 16px 40px 20px;
  background: #ffffff0d;
  border: 1px solid #ffffff0d;
  font-family: var(--secondary-font);
  margin: 1rem 0rem;
}

.info__box__item {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.content {
  font-size: 14px;
}
.content span {
  color: #b1b1b1;
}

.content a {
  color: var(--text-primary-clr);
}

.info__box__item i {
  color: black;
  background: var(--text-hightlight-clr);
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 15px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
/*----about section end----*/

/*----skills section start---- */

/* -------skill content-------- */
.skill__section {
  padding: 5rem;
}

.Skill__content {
  text-align: center;
  margin-bottom: 3rem;
}

.skill__sub__title span {
  color: var(--text-hightlight-clr);
}

/* -----skill item------ */
.skill__item {
  transition: 0.5s;
  text-align: center;
  border-radius: 8px;
  padding: 15px 20px;
  background: #ffffff0d;
  border: 1px solid #ffffff0d;
  font-family: var(--secondary-font);
}

.skill__item:hover {
  border-color: var(--text-hightlight-clr);
}

.skill__item > img {
  /* max-width: 120px;
  text-align: center; */
  border-radius: 20%;
}

.skill__item h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 8px 0px;
}

.skill__item .percent {
  padding: 6px 10px;
  display: block;
  font-size: 16px;
  border-radius: 8px;
  background: #131313;
  color: rgba(255, 255, 255, 0.35);
}

.skill__item:hover .percent {
  color: black;
  background-color: var(--text-hightlight-clr);
}

/* skills section end */

/* services section start */
.service__section {
  padding-bottom: 3rem;
}

.service__content {
}

.service__item__section {
  background: #ffffff0d;
  border-radius: 10px;
  border: 1px solid #ffffff0d;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 22px 22px 22px;
}

.service__items {
  display: flex;
  justify-content: center;
}

.service__items .service__icon {
  color: var(--text-hightlight-clr);
  font-size: 40px;
  border-right: 1px solid #ffffff0d;
  margin-right: 17px;
  padding-right: 17px;
}

.service__items .service__content h5 {
  color: var(--text-hightlight-clr);
  font-size: 20px;
  font-family: var(--primary-font);
  line-height: 1.4em;
}

.service__items .service__content p {
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: var(--seconday-fw-300);
  line-height: 1.4em;
}

/* services section end */

/* ----- projects section ---- */
.project__section {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

/* ----contact section start---- */
.contact__section {
  margin-bottom: 5rem;
}

.contact__title {
  font-weight: 500;
  display: block;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 15px;
}

.contact__sub__title {
  margin-bottom: 25px;
  font-size: 35px;

  .highlight__clr {
    color: var(--text-hightlight-clr);
  }
}

.contact__description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 16;
  font-family: var(--secondary-font);
  font-weight: var(--seconday-fw-300);
}

/* ----form section---- */
.form-label {
  font-family: var(--secondary-font);
  font-size: 20px;
}

.form-control {
  font-family: var(--secondary-font);
  font-weight: var(--seconday-fw-400);
  border: 1px solid #ffffff1a;
  outline: none;
}

.common__btn {
  font-family: var(--secondary-font);
}
/* ----contact section end---- */
